<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/info', user: @book_id.user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <td>
            <%= link_to user_path(@book_id.user.id) do %>
              <%= image_tag @user.get_profile_image(80,80), class: 'attachment user profile_image fallback' %><br>
              <%= @book_id.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book_id.id) do %>
              <%= @book_id.title %>
            <% end %>
          </td>
          <td>
            <%= @book_id.body %>
          </td>
          <td>
            <% if @book_id.user == current_user %>
              <%= link_to "Edit", "/books/#{@book_id.id}/edit", class: 'btn btn-sm btn-success edit_book_33' %>
            <% end %>
          </td>
          <td>
            <% if @book_id.user == current_user %>
              <%= link_to "Destroy", book_path(@book_id), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
