<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/info' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= image_tag @user.get_profile_image(40,40), class: 'attachment user profile_image fallback' %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <td>
            <%= link_to "Edit", "/books/#{@book.id}/edit" %>
          </td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
